*{
    margin: 0;
    padding: 0;
    color: #7d7d7d;
    font-size: 12px;
}
li{
    list-style: none;
}
.row{
    margin: 0!important;
}
body{
    background: #f9f9f9;
    font-family: Microsoft YaHei,Verdana, Simsun;
    overflow-y:scroll; 
}
a{text-decoration: none;
    &:hover{
        text-decoration: none!important;
    }
}
red{
    color: red;
}
//指令
.smallMark{
    width: 176px;
    height: 338px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    .flag{
        height: 60px;
        padding: 10px;
        background: url(/img/bacflag.png) repeat-y;
        .headImg{
            float: left;
        }
        .mes{
            float: left;
            padding-left: 8px;
            h4{
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
                margin: 0;
                color: #fff;
            }
        }
    }
    .flag_body{
        overflow: hidden;
        box-sizing: border-box;
        height: 278px;
        border: 1px solid #bfbfbf;
        border-top: 0;
        padding: 7px;
        border-radius: 0 0 8px 8px;
        .flag_text{           
            border-bottom: 1px solid #F0AD4E;
            img{
                float: left;
                padding: 5px 5px 0;
            }
            p{
                font-size: 18px;
                color: #666;                
                padding-top: 14px;
            }
        }
        .flag_bottom{
            padding-top: 8px;
            p{
                font-size: 13px;
                line-height: 20px;
                margin: 0;
               
            }
        }
    }
}



//指令结束
.container{
    width: 960px!important;
    margin: 0 auto;
    height: 100%;
    padding: 0!important;
}
$baseColor : #fd924f;
.main-page{
    
    height: 100%;
    header{
        height: 30px;
        background: #f2f2f2;
        border-bottom: 1px solid #d8d8d8;
        overflow: hidden;
        .mes_left{
            display: inline-block;
            font-size: 12px;
            margin-top: 8px;
            float: left;
        }
        .line{
            height: 14px;
            width: 1px;
            background: #7D7D7D;
            margin: 8px 5px;
            float: left;
            
        }
        .icon_xin{
            float: left;
            margin-top: 5px;
        }
        .mes_xin{
           float: left;
           padding: 8px 0 0 6px;
           span{
               color: #fd924f;
           } 
        }
        .out{
            float: right;
            margin-top: 8px;
        }
    }
    .logoLine{
        height: 90px;
        border-bottom: 1px solid $baseColor;
    }
    .logo{
        padding-top: 12px;
        box-sizing: border-box;
        float: left;
        margin-right: 34px;
    }
    .search{
        float: left;
        width: 548px;
        height: 40px;
        border: 2px solid $baseColor;
        margin-top: 30px;
        input{
           font-size: 16px;
           width: 510px;
           height: 40px; 
           margin-left:20px;
           border: 0;
           background: none;
           font-weight: bold;
           outline: none;
        }
    }
    .submitButton{
        float: left;
        width: 122px;
        height: 40px;
        background: $baseColor url(/img/search.png) no-repeat 18px 10px;
        margin-top: 30px;        
        input{
            float: left;
            font-size: 16px;
            width: 122px;
            height: 40px;
            border: 0;
            background: none;
            color: #fff;
            font-weight: bold;
        }
    }
    .chuan{
        height: 26px;
        border-bottom: 1px solid $baseColor;
        margin-bottom: 6px;
        span{
                float: left;
                padding-top: 4px;
            }
        p{
            float: left;
            padding: 6px 0 0 12px;
            &.p_title{
                color: $baseColor;
            }
            &.p_mes{
                padding-left: 20px;
                color: #3779c3;
                cursor: pointer;
            }
        }
    }
    
    .mainBody{
        width: 960px;
        height: 100%;
        overflow: hidden;
        .left{
            width: 152px;
            height: 100%;
            
        }
        .left_bar{
            width: 150px;
            float: left;
            border: 1px solid #bfbfbf;
            background: #fff;
           .navbar-list{
               box-sizing: border-box;
               //height: 39px;
               line-height: 39px;
               width: 100%;
               padding-left: 40px;
               border-bottom: 1px solid #bfbfbf;
               position: relative;
               a{
                   font-size: 14px;
                   color: #444;
                   display: inline-block;
                   width: 100%;
                   height: 39px;
                   
               }
               
               &:nth-child(1){
                    background: url(/img/listIcon.png)  no-repeat 15px -5px;
               }
               &:nth-child(2){
                    background: url(/img/listIcon.png)  no-repeat 15px -315px;
               }
               &:nth-child(3){
                    background: url(/img/listIcon.png)  no-repeat 15px -44px;
               }
               &:nth-child(4){
                    background: url(/img/listIcon.png)  no-repeat 15px -83px;
               }
               &:nth-child(5){
                    background: url(/img/listIcon.png)  no-repeat 15px -120px;
               }
               &:nth-child(6){
                    background: url(/img/listIcon.png)  no-repeat 15px -160px;
               }
               &:nth-child(7){
                    background: url(/img/listIcon.png)  no-repeat 15px -435px;
               }
               &:nth-child(8){
                    background: url(/img/listIcon.png)  no-repeat 15px -198px;
               }
               &:nth-child(9){
                    background: url(/img/listIcon.png)  no-repeat 15px -240px;
               }
               &:nth-child(10){
                    background: url(/img/listIcon.png)  no-repeat 15px -278px;
               }
                &:nth-child(11){
                    background: url(/img/listIcon.png)  no-repeat 15px -550px;
               }
                &:nth-child(12){
                    background: url(/img/listIcon.png)  no-repeat 15px -512px;
               }
                &:nth-child(13){
                    background: url(/img/listIcon.png)  no-repeat 15px -355px;
               }
                &:nth-child(14){
                    background: url(/img/listIcon.png)  no-repeat 15px -395px;
               }
                &:nth-child(15){
                    background: url(/img/listIcon.png)  no-repeat 15px -278px;
               }
                &:nth-child(16){
                    background: url(/img/listIcon.png)  no-repeat 15px -473px;
               }
               
              
           }
        }
        
        .right_bar{
            width: 800px;
            
            background: #fff;
            float: right;
        }
        
    }//mainBody  end
    
    
    
//end    
}
.home_container{
    overflow: hidden;
    .search_title{
        height: 30px;
        width: 100%;
        border-bottom: 3px solid $baseColor;
        font-size: 14px;
        color: #666;
        line-height: 30px;padding-left: 38px;
        background: #f4f4f4 url(/img/sear.png) no-repeat 10px 4px;
    }
    .pai{
        height: 28px;
        width: 100%;
        border-bottom: 1px #ccc solid;
        border-top: 1px #ccc solid;
        background: url(/img/back.jpg) ;
        a{
            float: left;
            color: #686868;
            background: url(/img/icon.jpg) right 0 no-repeat;
            padding: 6px 25px 0px 10px;
            &:hover{
                background: url(/img/onicon.jpg) right 0 no-repeat;
            }
        }
    }
    ul{
        height: 27px;
        margin-top: 6px;
        background: url(../../../img/back2.jpg);
        border: 1px #ccc solid;
        li{
            line-height: 27px;
            text-align: center;
            float: left;
            &.person{
                   width: 160px;
               }
               &.pro{
                   width: 280px;
               }
               &.money{
                   width: 180px;
               }
               &.limark{
                   width: 178px;
               }
        }
    }
    table{
        margin-top: 12px;
        width: 100%;
        border:1px solid #E6E6E6;
        div{
           background: red;
        }
        tr{
            width: 100%;
            line-height: 30px;
            &.tit{
               
                background: #f3f3f3;
                height: 30px;
                
            }
        td{
            height: 80px;
            text-align: center;
            &.person{
                   width: 160px;
               }
               &.pro{
                   width: 280px;
               }
               &.money{
                   width: 180px;
               }
               &.limark{
                   width: 178px;
               }
               &.shortline{
                   text-align: left;
                   height: 30px;
               }
        }   
           
        
        }
    }
   
    //end
}
//pro-container开始
.pro-container{
    .headList{
        width: 100%;
        height: 27px;
        line-height: 27px;
        text-align: center;
        margin-top: 6px;
        background: url(../../../img/back2.jpg);
        border: 1px #ccc solid;
    }
    .proList{
        height: 120px;
        border-bottom: 1px solid #E6E6E6;
        div{
            height: 100%;
            border-right: 1px solid #E6E6E6;
        }
        p{
            padding-top: 14px;
        }
        .col-sm-2{
            text-align: center;
        }
        a{
            line-height: 25px;
            display: block;
            &.top{
                padding-top: 10px;
                
            }
        }
    }
}
//pro-container结束
.group-container{
    .main{
        
    }
}
